html{
  background-color: gray
}

body{
    margin: 0;
    padding: 0;
    color: #242424;
    font-family: sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.Wraper{
    width: 100%;
    margin: 0 auto;
}

.main{
    display: block;
   background-color: #fff;
}

.container{
    display: flex;
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    padding: 0 20px;
}

section.module p{
    margin-bottom: 40px;
}

section .module:last-child{
    margin-bottom: 0;
}

section.module.content{
    padding: 40px;
    background-image:url(./img/backgound.jpg);
    background-color: rgba(255,255,255,0.8);
    background-blend-mode: lighten;
}

section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}

section.module{
    background-image:url(./img/pokemon.webp);
}

section.module.parallax:after{
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0,0,0,) 0, rgba(0,0,0,0) 70%, rgb(8, 8, 8) 40%);
}

section.module.parallax h1{
    color:black;
    text-align: center;
    font-size: 50px;
    z-index: 50;
    text-transform: uppercase;
}

section.module.parallax p{
    color:black;
    text-align: center;
    font-size:45px;
    z-index: 50;
}

.pokemon-body1-choose p{
    font-size: 20px;
    color: #b5820a
}

.pokemon-body1 {
    display: flex;
}

.pokemon-body1-choose {
    text-align: center;
    margin: auto 1rem;
}

.pokemon-body1-choose img {
    width: 100%;
}

.pokemon-body1-choose img{
        transform: translateY(0px);
        animation:float1 5s ease-in-out infinite;
    }
    
    @keyframes float1{
    
        0%{
            transform: translateY(0px);
        }
    
        50%{
            transform: translateY(-30px);
        }
    
        100%{
            transform: translateY(0px);
        }
    }


.pokemon-body1-choose img:hover {
    cursor: pointer;
    width: 300px;
}

.pokemon-body-title {
    text-align: center;
}

section.evolution{
    margin-top: -20px;
    background-image:url(./img/backgound.jpg);
    background-color: rgba(255,255,255,0.8);
    background-blend-mode: lighten;
}

.pokemon-body2-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-body2-info button {
    border-radius: 50px;

}

.pokemon-body2-info img {
    width: 30px;
    margin-top: 3px;
}

.pokemon-body2-info img:hover{
    cursor: pointer;
    width: 60px;

}

.pokemon-body2-img {
    margin-top: 2rem;
}

.pokemon-body2-img img{
 width: 300px;
 height: 300px;
 transform: translateX(0px);
 animation:float 5s ease-in-out infinite;

}

@keyframes float{
    
    0%{
        transform: translateX(0px);
    }

    50%{
        transform: translateX(-30px);
    }

    100%{
        transform: translateX(0px);
    }
}

.pokemon-body2-info button:hover {
    border: 4px solid #FF4040;

}

.footer{
    text-align: center;
    font-size: 12px;
    text-transform:uppercase
}

.footer a{
    text-decoration: none;
}